.container {
    border-top: 5px solid #685B4E;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    color: white;
    border: 2px solid #E8A356;
    width: 20%;
    background: rgba(10, 0.5, 0.5, 0.5);
    margin: 20px 0;
    border-radius: 25px;
    box-shadow: 5px 10px #E8A356;
  }

  .card p {
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
  }

  .card h2 {
      border-bottom: 3px groove #E8A356;
      padding-bottom: 10px;
  }